@import '_btnConfig';
@import 'config';
@import 'utilities';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: $primary-color;
  font-family: $font-stack;
  font-weight: map-get($font-weights, bold);
  line-height: 1;
}

img {
  border-radius: 50%;
}

a {
  text-decoration: none;
}

.hero {
  .box {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 20px;
    background-color: white;
    
    h1.banner {
      margin: 0;
      font-size: 1.5rem;
      color: $light-color;
    }

    ul {
      list-style-type: none; 
      padding: 0;            
      margin: 0;             
      display: flex;         

      li {
        font-weight: map-get($font-weights, medium);
        margin-right: 20px; 
      }

      a {
        color: inherit; 
        
        &:hover {
          color: $secondary-color; 
        }
      }
    }
  }
}

.hero-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px 20px;
}


// This code is related to some of the aspects of SCSS we have yet to cover.
// While you don't have to mess with it, it would be advisable to attempt to understand its functionality.
$spaceamounts: (1,2,3,4,5);

@each $space in $spaceamounts {
  .m-#{$space} {
    margin: #{$space}rem;
  }
  .my-#{$space} {
    margin: #{$space}rem 0;
  }

  .p-#{$space} {
    padding: #{$space}rem;
  }
  .py-#{$space} {
    padding: #{$space}rem 0;
  }
}

// buttons

.btn-primary {
  background-color: $primary-color;
  color: $light-color;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  margin-right: 10px;
}

.btn-secondary {
  background-color: $secondary-color;
  color: $light-color;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
}